<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./styles/app.css') }}">
    <title>Document</title>
</head>

<body>
    {% if username %}
    <h2> {{username}} is in da house! </h2>
    {% endif %}
    <table border="1px" , class="table">
        {% if grades %}
        <p>name: {{grades['name']}}</p>
        {% for key, val in grades.items() %}
            {% if key != 'name' and key !='class' %}
                <tr>
                    <th>{{key}}</th>
                    <td>{{val}}</td>
                </tr>
           {% endif %}
        {% endfor %}
        
        <!-- """Another way""" -->

        <!-- <thead class="headers">
            <tr>
                {% for key in grades.keys() %}
                <th>{{key}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="info">
            <tr>
                {% for val in grades.values() %}
                <td>{{val}}</td>
                {% endfor %} -->

                {% else %}
                <h1>No Grades Found</h1>
                {% endif %}
            </tr>
        </tbody>
    </table>
</body>

</html>